<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Volume</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <div id="app" class="new-app" v-cloak>
        <button id="mute-button" class="large-icons" v-on:click="toggleMute">
            <img v-if="!muted" src="./static/img/volume_on.png" alt="volume on">
            <img v-else src="./static/img/volume_mute.png" alt="volume mute">
        </button>
        
        <div data-value="100" id="droplet-container">
            <input id="droplet-input" type="hidden" v-model="level">
            <div class="droplet" id="top-droplet">
                <span class="value">100</span>
            </div>
            <div id="stripe"></div>
            <div class="droplet" id="droplet">
            </div>
        </div>
        
    </div>
    <script src="./static/js/axios.min.js"></script>
    <script src="./static/js/vue.min.js"></script>
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/main.js"></script>
    <script src="./static/js/droplet.js"></script>
</body>
</html>