#app {
    font-family: monospace;
    font-size: 22px;
}

[v-cloak] {
    display: none;
}

#mute-button {
    padding: .2em;
    position: relative;
    top: -.2em;
    background: none;
    border: none;
}

#mute-button img {
    line-height: 2em;
    vertical-align: middle;
    width: 2em;
    height: 2em;
}

#app .level {
    display: inline-block;
    width: 3em;
    position: relative;
    line-height: 2em;
    text-align: center;
}

#app .level-controller {
    margin-top: 0;
    position: relative;
    top: 0.5em;
}
