<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Volume</title>
</head>
<body>
    <div id="app" v-cloak>
    </div>
    <script src="{{ url_for('static', filename='./js/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/main.js') }}"></script>
</body>
</html>